//Place your code for nav here
.sidebar .wrapper{
    
   .design-selection nav, .design-archives nav, .zen-resources ul{
       
   }
}

.design-selection {
   h3::after{
       @extend .icons;
   }
}
//icons
.icons{
    content:  url('arrow-right-circle-fill.svg');
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    :active{
        .design-archives{
            display: none;
        }
    }
}